.base16 table td { padding: 5px; }
.base16 table pre { margin: 0; }
.base16, .base16 .w {
  color: #303030;
}
.base16 .err {
  color: #151515;
  background-color: #ac4142;
}
.base16 .c, .base16 .ch, .base16 .cd, .base16 .cm, .base16 .cpf, .base16 .c1, .base16 .cs {
  color: #505050;
}
.base16 .cp {
  color: #f4bf75;
}
.base16 .nt {
  color: #f4bf75;
}
.base16 .o, .base16 .ow {
  color: #d0d0d0;
}
.base16 .p, .base16 .pi {
  color: #d0d0d0;
}
.base16 .gi {
  color: #90a959;
}
.base16 .gd {
  color: #ac4142;
}
.base16 .gh {
  color: #6a9fb5;
  background-color: #151515;
  font-weight: bold;
}
.base16 .k, .base16 .kn, .base16 .kp, .base16 .kr, .base16 .kv {
  color: #aa759f;
}
.base16 .kc {
  color: #d28445;
}
.base16 .kt {
  color: #d28445;
}
.base16 .kd {
  color: #d28445;
}
.base16 .s, .base16 .sa, .base16 .sb, .base16 .sc, .base16 .dl, .base16 .sd, .base16 .s2, .base16 .sh, .base16 .sx, .base16 .s1 {
  color: #90a959;
}
.base16 .sr {
  color: #75b5aa;
}
.base16 .si {
  color: #8f5536;
}
.base16 .se {
  color: #8f5536;
}
.base16 .nn {
  color: #f4bf75;
}
.base16 .nc {
  color: #f4bf75;
}
.base16 .no {
  color: #f4bf75;
}
.base16 .na {
  color: #6a9fb5;
}
.base16 .m, .base16 .mb, .base16 .mf, .base16 .mh, .base16 .mi, .base16 .il, .base16 .mo, .base16 .mx {
  color: #90a959;
}
.base16 .ss {
  color: #90a959;
}
