.base16-monokai-dark table td { padding: 5px; }
.base16-monokai-dark table pre { margin: 0; }
.base16-monokai-dark, .base16-monokai-dark .w {
  color: #f8f8f2;
  background-color: #272822;
}
.base16-monokai-dark .err {
  color: #272822;
  background-color: #f92672;
}
.base16-monokai-dark .c, .base16-monokai-dark .ch, .base16-monokai-dark .cd, .base16-monokai-dark .cm, .base16-monokai-dark .cpf, .base16-monokai-dark .c1, .base16-monokai-dark .cs {
  color: #75715e;
}
.base16-monokai-dark .cp {
  color: #f4bf75;
}
.base16-monokai-dark .nt {
  color: #f4bf75;
}
.base16-monokai-dark .o, .base16-monokai-dark .ow {
  color: #f8f8f2;
}
.base16-monokai-dark .p, .base16-monokai-dark .pi {
  color: #f8f8f2;
}
.base16-monokai-dark .gi {
  color: #a6e22e;
}
.base16-monokai-dark .gd {
  color: #f92672;
}
.base16-monokai-dark .gh {
  color: #66d9ef;
  background-color: #272822;
  font-weight: bold;
}
.base16-monokai-dark .k, .base16-monokai-dark .kn, .base16-monokai-dark .kp, .base16-monokai-dark .kr, .base16-monokai-dark .kv {
  color: #ae81ff;
}
.base16-monokai-dark .kc {
  color: #fd971f;
}
.base16-monokai-dark .kt {
  color: #fd971f;
}
.base16-monokai-dark .kd {
  color: #fd971f;
}
.base16-monokai-dark .s, .base16-monokai-dark .sa, .base16-monokai-dark .sb, .base16-monokai-dark .sc, .base16-monokai-dark .dl, .base16-monokai-dark .sd, .base16-monokai-dark .s2, .base16-monokai-dark .sh, .base16-monokai-dark .sx, .base16-monokai-dark .s1 {
  color: #a6e22e;
}
.base16-monokai-dark .sr {
  color: #a1efe4;
}
.base16-monokai-dark .si {
  color: #cc6633;
}
.base16-monokai-dark .se {
  color: #cc6633;
}
.base16-monokai-dark .nn {
  color: #f4bf75;
}
.base16-monokai-dark .nc {
  color: #f4bf75;
}
.base16-monokai-dark .no {
  color: #f4bf75;
}
.base16-monokai-dark .na {
  color: #66d9ef;
}
.base16-monokai-dark .m, .base16-monokai-dark .mb, .base16-monokai-dark .mf, .base16-monokai-dark .mh, .base16-monokai-dark .mi, .base16-monokai-dark .il, .base16-monokai-dark .mo, .base16-monokai-dark .mx {
  color: #a6e22e;
}
.base16-monokai-dark .ss {
  color: #a6e22e;
}
