.base16-solarized table td { padding: 5px; }
.base16-solarized table pre { margin: 0; }
.base16-solarized, .base16-solarized .w {
  color: #586e75;
}
.base16-solarized .err {
  color: #002b36;
  background-color: #dc322f;
}
.base16-solarized .c, .base16-solarized .ch, .base16-solarized .cd, .base16-solarized .cm, .base16-solarized .cpf, .base16-solarized .c1, .base16-solarized .cs {
  color: #657b83;
}
.base16-solarized .cp {
  color: #b58900;
}
.base16-solarized .nt {
  color: #b58900;
}
.base16-solarized .o, .base16-solarized .ow {
  color: #93a1a1;
}
.base16-solarized .p, .base16-solarized .pi {
  color: #93a1a1;
}
.base16-solarized .gi {
  color: #859900;
}
.base16-solarized .gd {
  color: #dc322f;
}
.base16-solarized .gh {
  color: #268bd2;
  background-color: #002b36;
  font-weight: bold;
}
.base16-solarized .k, .base16-solarized .kn, .base16-solarized .kp, .base16-solarized .kr, .base16-solarized .kv {
  color: #6c71c4;
}
.base16-solarized .kc {
  color: #cb4b16;
}
.base16-solarized .kt {
  color: #cb4b16;
}
.base16-solarized .kd {
  color: #cb4b16;
}
.base16-solarized .s, .base16-solarized .sa, .base16-solarized .sb, .base16-solarized .sc, .base16-solarized .dl, .base16-solarized .sd, .base16-solarized .s2, .base16-solarized .sh, .base16-solarized .sx, .base16-solarized .s1 {
  color: #859900;
}
.base16-solarized .sr {
  color: #2aa198;
}
.base16-solarized .si {
  color: #d33682;
}
.base16-solarized .se {
  color: #d33682;
}
.base16-solarized .nn {
  color: #b58900;
}
.base16-solarized .nc {
  color: #b58900;
}
.base16-solarized .no {
  color: #b58900;
}
.base16-solarized .na {
  color: #268bd2;
}
.base16-solarized .m, .base16-solarized .mb, .base16-solarized .mf, .base16-solarized .mh, .base16-solarized .mi, .base16-solarized .il, .base16-solarized .mo, .base16-solarized .mx {
  color: #859900;
}
.base16-solarized .ss {
  color: #859900;
}
