.base16-monokai table td { padding: 5px; }
.base16-monokai table pre { margin: 0; }
.base16-monokai, .base16-monokai .w {
  color: #f8f8f2;
  background-color: #272822;
}
.base16-monokai .err {
  color: #272822;
  background-color: #f92672;
}
.base16-monokai .c, .base16-monokai .ch, .base16-monokai .cd, .base16-monokai .cm, .base16-monokai .cpf, .base16-monokai .c1, .base16-monokai .cs {
  color: #75715e;
}
.base16-monokai .cp {
  color: #f4bf75;
}
.base16-monokai .nt {
  color: #f4bf75;
}
.base16-monokai .o, .base16-monokai .ow {
  color: #f8f8f2;
}
.base16-monokai .p, .base16-monokai .pi {
  color: #f8f8f2;
}
.base16-monokai .gi {
  color: #a6e22e;
}
.base16-monokai .gd {
  color: #f92672;
}
.base16-monokai .gh {
  color: #66d9ef;
  background-color: #272822;
  font-weight: bold;
}
.base16-monokai .k, .base16-monokai .kn, .base16-monokai .kp, .base16-monokai .kr, .base16-monokai .kv {
  color: #ae81ff;
}
.base16-monokai .kc {
  color: #fd971f;
}
.base16-monokai .kt {
  color: #fd971f;
}
.base16-monokai .kd {
  color: #fd971f;
}
.base16-monokai .s, .base16-monokai .sa, .base16-monokai .sb, .base16-monokai .sc, .base16-monokai .dl, .base16-monokai .sd, .base16-monokai .s2, .base16-monokai .sh, .base16-monokai .sx, .base16-monokai .s1 {
  color: #a6e22e;
}
.base16-monokai .sr {
  color: #a1efe4;
}
.base16-monokai .si {
  color: #cc6633;
}
.base16-monokai .se {
  color: #cc6633;
}
.base16-monokai .nn {
  color: #f4bf75;
}
.base16-monokai .nc {
  color: #f4bf75;
}
.base16-monokai .no {
  color: #f4bf75;
}
.base16-monokai .na {
  color: #66d9ef;
}
.base16-monokai .m, .base16-monokai .mb, .base16-monokai .mf, .base16-monokai .mh, .base16-monokai .mi, .base16-monokai .il, .base16-monokai .mo, .base16-monokai .mx {
  color: #a6e22e;
}
.base16-monokai .ss {
  color: #a6e22e;
}
