.base16-solarized-dark table td { padding: 5px; }
.base16-solarized-dark table pre { margin: 0; }
.base16-solarized-dark, .base16-solarized-dark .w {
  color: #93a1a1;
  background-color: #002b36;
}
.base16-solarized-dark .err {
  color: #002b36;
  background-color: #dc322f;
}
.base16-solarized-dark .c, .base16-solarized-dark .ch, .base16-solarized-dark .cd, .base16-solarized-dark .cm, .base16-solarized-dark .cpf, .base16-solarized-dark .c1, .base16-solarized-dark .cs {
  color: #657b83;
}
.base16-solarized-dark .cp {
  color: #b58900;
}
.base16-solarized-dark .nt {
  color: #b58900;
}
.base16-solarized-dark .o, .base16-solarized-dark .ow {
  color: #93a1a1;
}
.base16-solarized-dark .p, .base16-solarized-dark .pi {
  color: #93a1a1;
}
.base16-solarized-dark .gi {
  color: #859900;
}
.base16-solarized-dark .gd {
  color: #dc322f;
}
.base16-solarized-dark .gh {
  color: #268bd2;
  background-color: #002b36;
  font-weight: bold;
}
.base16-solarized-dark .k, .base16-solarized-dark .kn, .base16-solarized-dark .kp, .base16-solarized-dark .kr, .base16-solarized-dark .kv {
  color: #6c71c4;
}
.base16-solarized-dark .kc {
  color: #cb4b16;
}
.base16-solarized-dark .kt {
  color: #cb4b16;
}
.base16-solarized-dark .kd {
  color: #cb4b16;
}
.base16-solarized-dark .s, .base16-solarized-dark .sa, .base16-solarized-dark .sb, .base16-solarized-dark .sc, .base16-solarized-dark .dl, .base16-solarized-dark .sd, .base16-solarized-dark .s2, .base16-solarized-dark .sh, .base16-solarized-dark .sx, .base16-solarized-dark .s1 {
  color: #859900;
}
.base16-solarized-dark .sr {
  color: #2aa198;
}
.base16-solarized-dark .si {
  color: #d33682;
}
.base16-solarized-dark .se {
  color: #d33682;
}
.base16-solarized-dark .nn {
  color: #b58900;
}
.base16-solarized-dark .nc {
  color: #b58900;
}
.base16-solarized-dark .no {
  color: #b58900;
}
.base16-solarized-dark .na {
  color: #268bd2;
}
.base16-solarized-dark .m, .base16-solarized-dark .mb, .base16-solarized-dark .mf, .base16-solarized-dark .mh, .base16-solarized-dark .mi, .base16-solarized-dark .il, .base16-solarized-dark .mo, .base16-solarized-dark .mx {
  color: #859900;
}
.base16-solarized-dark .ss {
  color: #859900;
}
