.bw table td { padding: 5px; }
.bw table pre { margin: 0; }
.bw, .bw .w {
  color: #000000;
  background-color: #ffffff;
}
.bw .c, .bw .ch, .bw .cd, .bw .cm, .bw .cpf, .bw .c1, .bw .cs {
  font-style: italic;
}
.bw .cp {
}
.bw .k, .bw .kc, .bw .kd, .bw .kn, .bw .kr, .bw .kv {
  font-weight: bold;
}
.bw .kp {
}
.bw .kt {
}
.bw .o, .bw .ow {
  font-weight: bold;
}
.bw .nc {
  font-weight: bold;
}
.bw .nn {
  font-weight: bold;
}
.bw .ne {
  font-weight: bold;
}
.bw .ni {
  font-weight: bold;
}
.bw .nt {
  font-weight: bold;
}
.bw .s, .bw .sa, .bw .sb, .bw .sc, .bw .dl, .bw .sd, .bw .s2, .bw .sh, .bw .sx, .bw .sr, .bw .s1, .bw .ss {
  font-style: italic;
}
.bw .si {
  font-weight: bold;
}
.bw .se {
  font-weight: bold;
}
.bw .gh {
  font-weight: bold;
}
.bw .gu {
  font-weight: bold;
}
.bw .ge {
  font-style: italic;
}
.bw .gs {
  font-weight: bold;
}
.bw .gp {
  font-weight: bold;
}
.bw .err {
  color: #FF0000;
}
