.gruvbox table td { padding: 5px; }
.gruvbox table pre { margin: 0; }
.gruvbox, .gruvbox .w {
  color: #fbf1c7;
  background-color: #282828;
}
.gruvbox .err {
  color: #fb4934;
  background-color: #282828;
  font-weight: bold;
}
.gruvbox .c, .gruvbox .ch, .gruvbox .cd, .gruvbox .cm, .gruvbox .cpf, .gruvbox .c1, .gruvbox .cs {
  color: #928374;
  font-style: italic;
}
.gruvbox .cp {
  color: #8ec07c;
}
.gruvbox .nt {
  color: #fb4934;
}
.gruvbox .o, .gruvbox .ow {
  color: #fbf1c7;
}
.gruvbox .p, .gruvbox .pi {
  color: #fbf1c7;
}
.gruvbox .gi {
  color: #b8bb26;
  background-color: #282828;
}
.gruvbox .gd {
  color: #fb4934;
  background-color: #282828;
}
.gruvbox .gh {
  color: #b8bb26;
  font-weight: bold;
}
.gruvbox .k, .gruvbox .kn, .gruvbox .kp, .gruvbox .kr, .gruvbox .kv {
  color: #fb4934;
}
.gruvbox .kc {
  color: #d3869b;
}
.gruvbox .kt {
  color: #fabd2f;
}
.gruvbox .kd {
  color: #fe8019;
}
.gruvbox .s, .gruvbox .sa, .gruvbox .sb, .gruvbox .sc, .gruvbox .dl, .gruvbox .sd, .gruvbox .s2, .gruvbox .sh, .gruvbox .sx, .gruvbox .s1 {
  color: #b8bb26;
  font-style: italic;
}
.gruvbox .si {
  color: #b8bb26;
  font-style: italic;
}
.gruvbox .sr {
  color: #b8bb26;
  font-style: italic;
}
.gruvbox .se {
  color: #fe8019;
}
.gruvbox .nn {
  color: #8ec07c;
}
.gruvbox .nc {
  color: #8ec07c;
}
.gruvbox .no {
  color: #d3869b;
}
.gruvbox .na {
  color: #b8bb26;
}
.gruvbox .m, .gruvbox .mb, .gruvbox .mf, .gruvbox .mh, .gruvbox .mi, .gruvbox .il, .gruvbox .mo, .gruvbox .mx {
  color: #d3869b;
}
.gruvbox .ss {
  color: #83a598;
}
