.igorpro table td { padding: 5px; }
.igorpro table pre { margin: 0; }
.igorpro, .igorpro .w {
  color: #444444;
}
.igorpro .cp {
  color: #CC00A3;
}
.igorpro .cs {
  color: #CC00A3;
}
.igorpro .c, .igorpro .ch, .igorpro .cd, .igorpro .cm, .igorpro .cpf, .igorpro .c1 {
  color: #FF0000;
}
.igorpro .kc {
  color: #C34E00;
}
.igorpro .kd {
  color: #0000FF;
}
.igorpro .kr {
  color: #007575;
}
.igorpro .k, .igorpro .kn, .igorpro .kp, .igorpro .kt, .igorpro .kv {
  color: #0000FF;
}
.igorpro .s, .igorpro .sa, .igorpro .sb, .igorpro .sc, .igorpro .dl, .igorpro .sd, .igorpro .s2, .igorpro .se, .igorpro .sh, .igorpro .si, .igorpro .sx, .igorpro .sr, .igorpro .s1, .igorpro .ss {
  color: #009C00;
}
.igorpro .nb, .igorpro .bp {
  color: #C34E00;
}
