.thankful-eyes table td { padding: 5px; }
.thankful-eyes table pre { margin: 0; }
.thankful-eyes {
  color: #faf6e4;
  background-color: #122b3b;
}
.thankful-eyes .gl {
  color: #dee5e7;
  background-color: #4e5d62;
}
.thankful-eyes .gp {
  color: #a8e1fe;
  font-weight: bold;
}
.thankful-eyes .c, .thankful-eyes .ch, .thankful-eyes .cd, .thankful-eyes .cm, .thankful-eyes .cpf, .thankful-eyes .c1, .thankful-eyes .cs {
  color: #6c8b9f;
  font-style: italic;
}
.thankful-eyes .cp {
  color: #b2fd6d;
  font-weight: bold;
}
.thankful-eyes .err {
  color: #fefeec;
  background-color: #cc0000;
}
.thankful-eyes .gr {
  color: #cc0000;
  font-weight: bold;
  font-style: italic;
}
.thankful-eyes .k, .thankful-eyes .kd, .thankful-eyes .kv {
  color: #f6dd62;
  font-weight: bold;
}
.thankful-eyes .o, .thankful-eyes .ow {
  color: #4df4ff;
  font-weight: bold;
}
.thankful-eyes .p, .thankful-eyes .pi {
  color: #4df4ff;
}
.thankful-eyes .gd {
  color: #cc0000;
}
.thankful-eyes .gi {
  color: #b2fd6d;
}
.thankful-eyes .ge {
  font-style: italic;
}
.thankful-eyes .gs {
  font-weight: bold;
}
.thankful-eyes .gt {
  color: #dee5e7;
  background-color: #4e5d62;
}
.thankful-eyes .kc {
  color: #f696db;
  font-weight: bold;
}
.thankful-eyes .kn {
  color: #ffb000;
  font-weight: bold;
}
.thankful-eyes .kp {
  color: #ffb000;
  font-weight: bold;
}
.thankful-eyes .kr {
  color: #ffb000;
  font-weight: bold;
}
.thankful-eyes .gh {
  color: #ffb000;
  font-weight: bold;
}
.thankful-eyes .gu {
  color: #ffb000;
  font-weight: bold;
}
.thankful-eyes .kt {
  color: #b2fd6d;
  font-weight: bold;
}
.thankful-eyes .no {
  color: #b2fd6d;
  font-weight: bold;
}
.thankful-eyes .nc {
  color: #b2fd6d;
  font-weight: bold;
}
.thankful-eyes .nd {
  color: #b2fd6d;
  font-weight: bold;
}
.thankful-eyes .nn {
  color: #b2fd6d;
  font-weight: bold;
}
.thankful-eyes .bp {
  color: #b2fd6d;
  font-weight: bold;
}
.thankful-eyes .ne {
  color: #b2fd6d;
  font-weight: bold;
}
.thankful-eyes .nl {
  color: #ffb000;
  font-weight: bold;
}
.thankful-eyes .nt {
  color: #ffb000;
  font-weight: bold;
}
.thankful-eyes .m, .thankful-eyes .mb, .thankful-eyes .mf, .thankful-eyes .mh, .thankful-eyes .mi, .thankful-eyes .il, .thankful-eyes .mo, .thankful-eyes .mx {
  color: #f696db;
  font-weight: bold;
}
.thankful-eyes .ld {
  color: #f696db;
  font-weight: bold;
}
.thankful-eyes .ss {
  color: #f696db;
  font-weight: bold;
}
.thankful-eyes .s, .thankful-eyes .sa, .thankful-eyes .sb, .thankful-eyes .dl, .thankful-eyes .sd, .thankful-eyes .s2, .thankful-eyes .sh, .thankful-eyes .sx, .thankful-eyes .sr, .thankful-eyes .s1 {
  color: #fff0a6;
  font-weight: bold;
}
.thankful-eyes .se {
  color: #4df4ff;
  font-weight: bold;
}
.thankful-eyes .sc {
  color: #4df4ff;
  font-weight: bold;
}
.thankful-eyes .si {
  color: #4df4ff;
  font-weight: bold;
}
.thankful-eyes .nb {
  font-weight: bold;
}
.thankful-eyes .ni {
  color: #999999;
  font-weight: bold;
}
.thankful-eyes .w {
  color: #BBBBBB;
}
.thankful-eyes .go {
  color: #BBBBBB;
}
.thankful-eyes .nf, .thankful-eyes .fm {
  color: #a8e1fe;
}
.thankful-eyes .py {
  color: #a8e1fe;
}
.thankful-eyes .na {
  color: #a8e1fe;
}
.thankful-eyes .nv, .thankful-eyes .vc, .thankful-eyes .vg, .thankful-eyes .vi, .thankful-eyes .vm {
  color: #a8e1fe;
  font-weight: bold;
}
