.tulip table td { padding: 5px; }
.tulip table pre { margin: 0; }
.tulip {
  color: #FFFFFF;
  background-color: #231529;
}
.tulip .c, .tulip .ch, .tulip .cd, .tulip .cm, .tulip .cpf, .tulip .c1, .tulip .cs {
  color: #6D6E70;
  font-style: italic;
}
.tulip .cp {
  color: #41ff5b;
  font-weight: bold;
}
.tulip .err {
  color: #FFFFFF;
  background-color: #CC0000;
}
.tulip .gr {
  color: #FFFFFF;
  background-color: #CC0000;
}
.tulip .k, .tulip .kd, .tulip .kv {
  color: #FFF02A;
  font-weight: bold;
}
.tulip .o, .tulip .ow {
  color: #41ff5b;
}
.tulip .p, .tulip .pi {
  color: #41ff5b;
}
.tulip .gd {
  color: #CC0000;
}
.tulip .gi {
  color: #3FB34F;
}
.tulip .ge {
  font-style: italic;
}
.tulip .gs {
  font-weight: bold;
}
.tulip .gt {
  color: #FFFFFF;
  background-color: #766DAF;
}
.tulip .gl {
  color: #FFFFFF;
  background-color: #766DAF;
}
.tulip .kc {
  color: #9f93e6;
  font-weight: bold;
}
.tulip .kn {
  color: #FFFFFF;
  font-weight: bold;
}
.tulip .kp {
  color: #FFFFFF;
  font-weight: bold;
}
.tulip .kr {
  color: #FFFFFF;
  font-weight: bold;
}
.tulip .gh {
  color: #FFFFFF;
  font-weight: bold;
}
.tulip .gu {
  color: #FFFFFF;
  font-weight: bold;
}
.tulip .kt {
  color: #FAAF4C;
  font-weight: bold;
}
.tulip .no {
  color: #FAAF4C;
  font-weight: bold;
}
.tulip .nc {
  color: #FAAF4C;
  font-weight: bold;
}
.tulip .nd {
  color: #FAAF4C;
  font-weight: bold;
}
.tulip .nn {
  color: #FAAF4C;
  font-weight: bold;
}
.tulip .bp {
  color: #FAAF4C;
  font-weight: bold;
}
.tulip .ne {
  color: #FAAF4C;
  font-weight: bold;
}
.tulip .nl {
  color: #9f93e6;
  font-weight: bold;
}
.tulip .nt {
  color: #9f93e6;
  font-weight: bold;
}
.tulip .m, .tulip .mb, .tulip .mf, .tulip .mh, .tulip .mi, .tulip .il, .tulip .mo, .tulip .mx {
  color: #9f93e6;
  font-weight: bold;
}
.tulip .ld {
  color: #9f93e6;
  font-weight: bold;
}
.tulip .ss {
  color: #9f93e6;
  font-weight: bold;
}
.tulip .s, .tulip .sa, .tulip .sb, .tulip .dl, .tulip .sd, .tulip .s2, .tulip .sh, .tulip .sx, .tulip .sr, .tulip .s1 {
  color: #fff0a6;
  font-weight: bold;
}
.tulip .se {
  color: #FAAF4C;
  font-weight: bold;
}
.tulip .sc {
  color: #FAAF4C;
  font-weight: bold;
}
.tulip .si {
  color: #FAAF4C;
  font-weight: bold;
}
.tulip .nb {
  font-weight: bold;
}
.tulip .ni {
  color: #999999;
  font-weight: bold;
}
.tulip .w {
  color: #BBBBBB;
}
.tulip .nf, .tulip .fm {
  color: #41ff5b;
}
.tulip .py {
  color: #41ff5b;
}
.tulip .na {
  color: #41ff5b;
}
.tulip .nv, .tulip .vc, .tulip .vg, .tulip .vi, .tulip .vm {
  color: #41ff5b;
  font-weight: bold;
}
