.algol-nu .hll { background-color: #ffffcc }
.algol-nu  { background: #ffffff; }
.algol-nu .c { color: #888888; font-style: italic } /* Comment */
.algol-nu .err { border: 1px solid #FF0000 } /* Error */
.algol-nu .k { font-weight: bold } /* Keyword */
.algol-nu .ch { color: #888888; font-style: italic } /* Comment.Hashbang */
.algol-nu .cm { color: #888888; font-style: italic } /* Comment.Multiline */
.algol-nu .cp { color: #888888; font-weight: bold } /* Comment.Preproc */
.algol-nu .cpf { color: #888888; font-style: italic } /* Comment.PreprocFile */
.algol-nu .c1 { color: #888888; font-style: italic } /* Comment.Single */
.algol-nu .cs { color: #888888; font-weight: bold } /* Comment.Special */
.algol-nu .kc { font-weight: bold } /* Keyword.Constant */
.algol-nu .kd { font-weight: bold; font-style: italic } /* Keyword.Declaration */
.algol-nu .kn { font-weight: bold } /* Keyword.Namespace */
.algol-nu .kp { font-weight: bold } /* Keyword.Pseudo */
.algol-nu .kr { font-weight: bold } /* Keyword.Reserved */
.algol-nu .kt { font-weight: bold } /* Keyword.Type */
.algol-nu .s { color: #666666; font-style: italic } /* Literal.String */
.algol-nu .nb { font-weight: bold; font-style: italic } /* Name.Builtin */
.algol-nu .nc { color: #666666; font-weight: bold; font-style: italic } /* Name.Class */
.algol-nu .no { color: #666666; font-weight: bold; font-style: italic } /* Name.Constant */
.algol-nu .nf { color: #666666; font-weight: bold; font-style: italic } /* Name.Function */
.algol-nu .nn { color: #666666; font-weight: bold; font-style: italic } /* Name.Namespace */
.algol-nu .nv { color: #666666; font-weight: bold; font-style: italic } /* Name.Variable */
.algol-nu .ow { font-weight: bold } /* Operator.Word */
.algol-nu .sa { color: #666666; font-style: italic } /* Literal.String.Affix */
.algol-nu .sb { color: #666666; font-style: italic } /* Literal.String.Backtick */
.algol-nu .sc { color: #666666; font-style: italic } /* Literal.String.Char */
.algol-nu .dl { color: #666666; font-style: italic } /* Literal.String.Delimiter */
.algol-nu .sd { color: #666666; font-style: italic } /* Literal.String.Doc */
.algol-nu .s2 { color: #666666; font-style: italic } /* Literal.String.Double */
.algol-nu .se { color: #666666; font-style: italic } /* Literal.String.Escape */
.algol-nu .sh { color: #666666; font-style: italic } /* Literal.String.Heredoc */
.algol-nu .si { color: #666666; font-style: italic } /* Literal.String.Interpol */
.algol-nu .sx { color: #666666; font-style: italic } /* Literal.String.Other */
.algol-nu .sr { color: #666666; font-style: italic } /* Literal.String.Regex */
.algol-nu .s1 { color: #666666; font-style: italic } /* Literal.String.Single */
.algol-nu .ss { color: #666666; font-style: italic } /* Literal.String.Symbol */
.algol-nu .bp { font-weight: bold; font-style: italic } /* Name.Builtin.Pseudo */
.algol-nu .fm { color: #666666; font-weight: bold; font-style: italic } /* Name.Function.Magic */
.algol-nu .vc { color: #666666; font-weight: bold; font-style: italic } /* Name.Variable.Class */
.algol-nu .vg { color: #666666; font-weight: bold; font-style: italic } /* Name.Variable.Global */
.algol-nu .vi { color: #666666; font-weight: bold; font-style: italic } /* Name.Variable.Instance */
.algol-nu .vm { color: #666666; font-weight: bold; font-style: italic } /* Name.Variable.Magic */
