.rainbow-dash .hll { background-color: #ffffcc }
.rainbow-dash  { background: #ffffff; color: #4d4d4d }
.rainbow-dash .c { color: #0080ff; font-style: italic } /* Comment */
.rainbow-dash .err { color: #ffffff; background-color: #cc0000 } /* Error */
.rainbow-dash .k { color: #2c5dcd; font-weight: bold } /* Keyword */
.rainbow-dash .o { color: #2c5dcd } /* Operator */
.rainbow-dash .ch { color: #0080ff; font-style: italic } /* Comment.Hashbang */
.rainbow-dash .cm { color: #0080ff; font-style: italic } /* Comment.Multiline */
.rainbow-dash .cp { color: #0080ff } /* Comment.Preproc */
.rainbow-dash .cpf { color: #0080ff; font-style: italic } /* Comment.PreprocFile */
.rainbow-dash .c1 { color: #0080ff; font-style: italic } /* Comment.Single */
.rainbow-dash .cs { color: #0080ff; font-weight: bold; font-style: italic } /* Comment.Special */
.rainbow-dash .gd { background-color: #ffcccc; border: 1px solid #c5060b } /* Generic.Deleted */
.rainbow-dash .ge { font-style: italic } /* Generic.Emph */
.rainbow-dash .gr { color: #ff0000 } /* Generic.Error */
.rainbow-dash .gh { color: #2c5dcd; font-weight: bold } /* Generic.Heading */
.rainbow-dash .gi { background-color: #ccffcc; border: 1px solid #00cc00 } /* Generic.Inserted */
.rainbow-dash .go { color: #aaaaaa } /* Generic.Output */
.rainbow-dash .gp { color: #2c5dcd; font-weight: bold } /* Generic.Prompt */
.rainbow-dash .gs { font-weight: bold } /* Generic.Strong */
.rainbow-dash .gu { color: #2c5dcd; font-weight: bold } /* Generic.Subheading */
.rainbow-dash .gt { color: #c5060b } /* Generic.Traceback */
.rainbow-dash .kc { color: #2c5dcd; font-weight: bold } /* Keyword.Constant */
.rainbow-dash .kd { color: #2c5dcd; font-weight: bold } /* Keyword.Declaration */
.rainbow-dash .kn { color: #2c5dcd; font-weight: bold } /* Keyword.Namespace */
.rainbow-dash .kp { color: #2c5dcd } /* Keyword.Pseudo */
.rainbow-dash .kr { color: #2c5dcd; font-weight: bold } /* Keyword.Reserved */
.rainbow-dash .kt { color: #5918bb; font-weight: bold } /* Keyword.Type */
.rainbow-dash .m { color: #5918bb; font-weight: bold } /* Literal.Number */
.rainbow-dash .s { color: #00cc66 } /* Literal.String */
.rainbow-dash .na { color: #2c5dcd; font-style: italic } /* Name.Attribute */
.rainbow-dash .nb { color: #5918bb; font-weight: bold } /* Name.Builtin */
.rainbow-dash .nc { text-decoration: underline } /* Name.Class */
.rainbow-dash .no { color: #318495 } /* Name.Constant */
.rainbow-dash .nd { color: #ff8000; font-weight: bold } /* Name.Decorator */
.rainbow-dash .ni { color: #5918bb; font-weight: bold } /* Name.Entity */
.rainbow-dash .ne { color: #5918bb; font-weight: bold } /* Name.Exception */
.rainbow-dash .nf { color: #ff8000; font-weight: bold } /* Name.Function */
.rainbow-dash .nt { color: #2c5dcd; font-weight: bold } /* Name.Tag */
.rainbow-dash .ow { color: #2c5dcd; font-weight: bold } /* Operator.Word */
.rainbow-dash .w { color: #cbcbcb } /* Text.Whitespace */
.rainbow-dash .mb { color: #5918bb; font-weight: bold } /* Literal.Number.Bin */
.rainbow-dash .mf { color: #5918bb; font-weight: bold } /* Literal.Number.Float */
.rainbow-dash .mh { color: #5918bb; font-weight: bold } /* Literal.Number.Hex */
.rainbow-dash .mi { color: #5918bb; font-weight: bold } /* Literal.Number.Integer */
.rainbow-dash .mo { color: #5918bb; font-weight: bold } /* Literal.Number.Oct */
.rainbow-dash .sa { color: #00cc66 } /* Literal.String.Affix */
.rainbow-dash .sb { color: #00cc66 } /* Literal.String.Backtick */
.rainbow-dash .sc { color: #00cc66 } /* Literal.String.Char */
.rainbow-dash .dl { color: #00cc66 } /* Literal.String.Delimiter */
.rainbow-dash .sd { color: #00cc66; font-style: italic } /* Literal.String.Doc */
.rainbow-dash .s2 { color: #00cc66 } /* Literal.String.Double */
.rainbow-dash .se { color: #c5060b; font-weight: bold } /* Literal.String.Escape */
.rainbow-dash .sh { color: #00cc66 } /* Literal.String.Heredoc */
.rainbow-dash .si { color: #00cc66 } /* Literal.String.Interpol */
.rainbow-dash .sx { color: #318495 } /* Literal.String.Other */
.rainbow-dash .sr { color: #00cc66 } /* Literal.String.Regex */
.rainbow-dash .s1 { color: #00cc66 } /* Literal.String.Single */
.rainbow-dash .ss { color: #c5060b; font-weight: bold } /* Literal.String.Symbol */
.rainbow-dash .bp { color: #5918bb; font-weight: bold } /* Name.Builtin.Pseudo */
.rainbow-dash .fm { color: #ff8000; font-weight: bold } /* Name.Function.Magic */
.rainbow-dash .il { color: #5918bb; font-weight: bold } /* Literal.Number.Integer.Long */
