.base16-monokai-light table td { padding: 5px; }
.base16-monokai-light table pre { margin: 0; }
.base16-monokai-light, .base16-monokai-light .w {
  color: #49483e;
}
.base16-monokai-light .err {
  color: #272822;
  background-color: #f92672;
}
.base16-monokai-light .c, .base16-monokai-light .ch, .base16-monokai-light .cd, .base16-monokai-light .cm, .base16-monokai-light .cpf, .base16-monokai-light .c1, .base16-monokai-light .cs {
  color: #75715e;
}
.base16-monokai-light .cp {
  color: #f4bf75;
}
.base16-monokai-light .nt {
  color: #f4bf75;
}
.base16-monokai-light .o, .base16-monokai-light .ow {
  color: #f8f8f2;
}
.base16-monokai-light .p, .base16-monokai-light .pi {
  color: #f8f8f2;
}
.base16-monokai-light .gi {
  color: #a6e22e;
}
.base16-monokai-light .gd {
  color: #f92672;
}
.base16-monokai-light .gh {
  color: #66d9ef;
  background-color: #272822;
  font-weight: bold;
}
.base16-monokai-light .k, .base16-monokai-light .kn, .base16-monokai-light .kp, .base16-monokai-light .kr, .base16-monokai-light .kv {
  color: #ae81ff;
}
.base16-monokai-light .kc {
  color: #fd971f;
}
.base16-monokai-light .kt {
  color: #fd971f;
}
.base16-monokai-light .kd {
  color: #fd971f;
}
.base16-monokai-light .s, .base16-monokai-light .sa, .base16-monokai-light .sb, .base16-monokai-light .sc, .base16-monokai-light .dl, .base16-monokai-light .sd, .base16-monokai-light .s2, .base16-monokai-light .sh, .base16-monokai-light .sx, .base16-monokai-light .s1 {
  color: #a6e22e;
}
.base16-monokai-light .sr {
  color: #a1efe4;
}
.base16-monokai-light .si {
  color: #cc6633;
}
.base16-monokai-light .se {
  color: #cc6633;
}
.base16-monokai-light .nn {
  color: #f4bf75;
}
.base16-monokai-light .nc {
  color: #f4bf75;
}
.base16-monokai-light .no {
  color: #f4bf75;
}
.base16-monokai-light .na {
  color: #66d9ef;
}
.base16-monokai-light .m, .base16-monokai-light .mb, .base16-monokai-light .mf, .base16-monokai-light .mh, .base16-monokai-light .mi, .base16-monokai-light .il, .base16-monokai-light .mo, .base16-monokai-light .mx {
  color: #a6e22e;
}
.base16-monokai-light .ss {
  color: #a6e22e;
}
