.base16-light table td { padding: 5px; }
.base16-light table pre { margin: 0; }
.base16-light, .base16-light .w {
  color: #303030;
}
.base16-light .err {
  color: #151515;
  background-color: #ac4142;
}
.base16-light .c, .base16-light .ch, .base16-light .cd, .base16-light .cm, .base16-light .cpf, .base16-light .c1, .base16-light .cs {
  color: #505050;
}
.base16-light .cp {
  color: #f4bf75;
}
.base16-light .nt {
  color: #f4bf75;
}
.base16-light .o, .base16-light .ow {
  color: #d0d0d0;
}
.base16-light .p, .base16-light .pi {
  color: #d0d0d0;
}
.base16-light .gi {
  color: #90a959;
}
.base16-light .gd {
  color: #ac4142;
}
.base16-light .gh {
  color: #6a9fb5;
  background-color: #151515;
  font-weight: bold;
}
.base16-light .k, .base16-light .kn, .base16-light .kp, .base16-light .kr, .base16-light .kv {
  color: #aa759f;
}
.base16-light .kc {
  color: #d28445;
}
.base16-light .kt {
  color: #d28445;
}
.base16-light .kd {
  color: #d28445;
}
.base16-light .s, .base16-light .sa, .base16-light .sb, .base16-light .sc, .base16-light .dl, .base16-light .sd, .base16-light .s2, .base16-light .sh, .base16-light .sx, .base16-light .s1 {
  color: #90a959;
}
.base16-light .sr {
  color: #75b5aa;
}
.base16-light .si {
  color: #8f5536;
}
.base16-light .se {
  color: #8f5536;
}
.base16-light .nn {
  color: #f4bf75;
}
.base16-light .nc {
  color: #f4bf75;
}
.base16-light .no {
  color: #f4bf75;
}
.base16-light .na {
  color: #6a9fb5;
}
.base16-light .m, .base16-light .mb, .base16-light .mf, .base16-light .mh, .base16-light .mi, .base16-light .il, .base16-light .mo, .base16-light .mx {
  color: #90a959;
}
.base16-light .ss {
  color: #90a959;
}
