.base16-solarized-light table td { padding: 5px; }
.base16-solarized-light table pre { margin: 0; }
.base16-solarized-light, .base16-solarized-light .w {
  color: #586e75;
}
.base16-solarized-light .err {
  color: #002b36;
  background-color: #dc322f;
}
.base16-solarized-light .c, .base16-solarized-light .ch, .base16-solarized-light .cd, .base16-solarized-light .cm, .base16-solarized-light .cpf, .base16-solarized-light .c1, .base16-solarized-light .cs {
  color: #657b83;
}
.base16-solarized-light .cp {
  color: #b58900;
}
.base16-solarized-light .nt {
  color: #b58900;
}
.base16-solarized-light .o, .base16-solarized-light .ow {
  color: #93a1a1;
}
.base16-solarized-light .p, .base16-solarized-light .pi {
  color: #93a1a1;
}
.base16-solarized-light .gi {
  color: #859900;
}
.base16-solarized-light .gd {
  color: #dc322f;
}
.base16-solarized-light .gh {
  color: #268bd2;
  background-color: #002b36;
  font-weight: bold;
}
.base16-solarized-light .k, .base16-solarized-light .kn, .base16-solarized-light .kp, .base16-solarized-light .kr, .base16-solarized-light .kv {
  color: #6c71c4;
}
.base16-solarized-light .kc {
  color: #cb4b16;
}
.base16-solarized-light .kt {
  color: #cb4b16;
}
.base16-solarized-light .kd {
  color: #cb4b16;
}
.base16-solarized-light .s, .base16-solarized-light .sa, .base16-solarized-light .sb, .base16-solarized-light .sc, .base16-solarized-light .dl, .base16-solarized-light .sd, .base16-solarized-light .s2, .base16-solarized-light .sh, .base16-solarized-light .sx, .base16-solarized-light .s1 {
  color: #859900;
}
.base16-solarized-light .sr {
  color: #2aa198;
}
.base16-solarized-light .si {
  color: #d33682;
}
.base16-solarized-light .se {
  color: #d33682;
}
.base16-solarized-light .nn {
  color: #b58900;
}
.base16-solarized-light .nc {
  color: #b58900;
}
.base16-solarized-light .no {
  color: #b58900;
}
.base16-solarized-light .na {
  color: #268bd2;
}
.base16-solarized-light .m, .base16-solarized-light .mb, .base16-solarized-light .mf, .base16-solarized-light .mh, .base16-solarized-light .mi, .base16-solarized-light .il, .base16-solarized-light .mo, .base16-solarized-light .mx {
  color: #859900;
}
.base16-solarized-light .ss {
  color: #859900;
}
