.colorful table td { padding: 5px; }
.colorful table pre { margin: 0; }
.colorful, .colorful .w {
  color: #bbbbbb;
  background-color: #000;
}
.colorful .c, .colorful .ch, .colorful .cd, .colorful .cm, .colorful .cpf, .colorful .c1 {
  color: #888;
}
.colorful .cp {
  color: #579;
}
.colorful .cs {
  color: #cc0000;
  font-weight: bold;
}
.colorful .k, .colorful .kc, .colorful .kd, .colorful .kn, .colorful .kr, .colorful .kv {
  color: #080;
  font-weight: bold;
}
.colorful .kp {
  color: #038;
}
.colorful .kt {
  color: #339;
}
.colorful .o {
  color: #333;
}
.colorful .ow {
  color: #000;
  font-weight: bold;
}
.colorful .nb, .colorful .bp {
  color: #007020;
}
.colorful .nf, .colorful .fm {
  color: #06B;
  font-weight: bold;
}
.colorful .nc {
  color: #B06;
  font-weight: bold;
}
.colorful .nn {
  color: #0e84b5;
  font-weight: bold;
}
.colorful .ne {
  color: #F00;
  font-weight: bold;
}
.colorful .nv, .colorful .vm {
  color: #963;
}
.colorful .vi {
  color: #33B;
}
.colorful .vc {
  color: #369;
}
.colorful .vg {
  color: #d70;
  font-weight: bold;
}
.colorful .no {
  color: #036;
  font-weight: bold;
}
.colorful .nl {
  color: #970;
  font-weight: bold;
}
.colorful .ni {
  color: #800;
  font-weight: bold;
}
.colorful .na {
  color: #00C;
}
.colorful .nt {
  color: #070;
}
.colorful .nd {
  color: #555;
  font-weight: bold;
}
.colorful .s, .colorful .sa, .colorful .sb, .colorful .dl, .colorful .s2, .colorful .sh, .colorful .s1 {
  background-color: #fff0f0;
}
.colorful .sc {
  color: #04D;
}
.colorful .sd {
  color: #D42;
}
.colorful .si {
  background-color: #eee;
}
.colorful .se {
  color: #666;
  font-weight: bold;
}
.colorful .sr {
  color: #000;
  background-color: #fff0ff;
}
.colorful .ss {
  color: #A60;
}
.colorful .sx {
  color: #D20;
}
.colorful .m, .colorful .mb, .colorful .mx {
  color: #60E;
  font-weight: bold;
}
.colorful .mi, .colorful .il {
  color: #00D;
  font-weight: bold;
}
.colorful .mf {
  color: #60E;
  font-weight: bold;
}
.colorful .mh {
  color: #058;
  font-weight: bold;
}
.colorful .mo {
  color: #40E;
  font-weight: bold;
}
.colorful .gh {
  color: #000080;
  font-weight: bold;
}
.colorful .gu {
  color: #800080;
  font-weight: bold;
}
.colorful .gd {
  color: #A00000;
}
.colorful .gi {
  color: #00A000;
}
.colorful .gr {
  color: #FF0000;
}
.colorful .ge {
  font-style: italic;
}
.colorful .gs {
  font-weight: bold;
}
.colorful .gp {
  color: #c65d09;
  font-weight: bold;
}
.colorful .go {
  color: #888;
}
.colorful .gt {
  color: #04D;
}
.colorful .err {
  color: #F00;
  background-color: #FAA;
}
