.github table td { padding: 5px; }
.github table pre { margin: 0; }
.github .cm {
  color: #999988;
  font-style: italic;
}
.github .cp {
  color: #999999;
  font-weight: bold;
}
.github .c1 {
  color: #999988;
  font-style: italic;
}
.github .cs {
  color: #999999;
  font-weight: bold;
  font-style: italic;
}
.github .c, .github .ch, .github .cd, .github .cpf {
  color: #999988;
  font-style: italic;
}
.github .err {
  color: #a61717;
  background-color: #e3d2d2;
}
.github .gd {
  color: #000000;
  background-color: #ffdddd;
}
.github .ge {
  color: #000000;
  font-style: italic;
}
.github .gr {
  color: #aa0000;
}
.github .gh {
  color: #999999;
}
.github .gi {
  color: #000000;
  background-color: #ddffdd;
}
.github .go {
  color: #888888;
}
.github .gp {
  color: #555555;
}
.github .gs {
  font-weight: bold;
}
.github .gu {
  color: #aaaaaa;
}
.github .gt {
  color: #aa0000;
}
.github .kc {
  color: #000000;
  font-weight: bold;
}
.github .kd {
  color: #000000;
  font-weight: bold;
}
.github .kn {
  color: #000000;
  font-weight: bold;
}
.github .kp {
  color: #000000;
  font-weight: bold;
}
.github .kr {
  color: #000000;
  font-weight: bold;
}
.github .kt {
  color: #445588;
  font-weight: bold;
}
.github .k, .github .kv {
  color: #000000;
  font-weight: bold;
}
.github .mf {
  color: #009999;
}
.github .mh {
  color: #009999;
}
.github .il {
  color: #009999;
}
.github .mi {
  color: #009999;
}
.github .mo {
  color: #009999;
}
.github .m, .github .mb, .github .mx {
  color: #009999;
}
.github .sb {
  color: #d14;
}
.github .sc {
  color: #d14;
}
.github .sd {
  color: #d14;
}
.github .s2 {
  color: #d14;
}
.github .se {
  color: #d14;
}
.github .sh {
  color: #d14;
}
.github .si {
  color: #d14;
}
.github .sx {
  color: #d14;
}
.github .sr {
  color: #009926;
}
.github .s1 {
  color: #d14;
}
.github .ss {
  color: #990073;
}
.github .s, .github .sa, .github .dl {
  color: #d14;
}
.github .na {
  color: #008080;
}
.github .bp {
  color: #999999;
}
.github .nb {
  color: #0086B3;
}
.github .nc {
  color: #445588;
  font-weight: bold;
}
.github .no {
  color: #008080;
}
.github .nd {
  color: #3c5d5d;
  font-weight: bold;
}
.github .ni {
  color: #800080;
}
.github .ne {
  color: #990000;
  font-weight: bold;
}
.github .nf, .github .fm {
  color: #990000;
  font-weight: bold;
}
.github .nl {
  color: #990000;
  font-weight: bold;
}
.github .nn {
  color: #555555;
}
.github .nt {
  color: #000080;
}
.github .vc {
  color: #008080;
}
.github .vg {
  color: #008080;
}
.github .vi {
  color: #008080;
}
.github .nv, .github .vm {
  color: #008080;
}
.github .ow {
  color: #000000;
  font-weight: bold;
}
.github .o {
  color: #000000;
  font-weight: bold;
}
.github .w {
  color: #bbbbbb;
}
.github {
  background-color: #f8f8f8;
}
