.gruvbox-dark table td { padding: 5px; }
.gruvbox-dark table pre { margin: 0; }
.gruvbox-dark, .gruvbox-dark .w {
  color: #fbf1c7;
  background-color: #282828;
}
.gruvbox-dark .err {
  color: #fb4934;
  background-color: #282828;
  font-weight: bold;
}
.gruvbox-dark .c, .gruvbox-dark .ch, .gruvbox-dark .cd, .gruvbox-dark .cm, .gruvbox-dark .cpf, .gruvbox-dark .c1, .gruvbox-dark .cs {
  color: #928374;
  font-style: italic;
}
.gruvbox-dark .cp {
  color: #8ec07c;
}
.gruvbox-dark .nt {
  color: #fb4934;
}
.gruvbox-dark .o, .gruvbox-dark .ow {
  color: #fbf1c7;
}
.gruvbox-dark .p, .gruvbox-dark .pi {
  color: #fbf1c7;
}
.gruvbox-dark .gi {
  color: #b8bb26;
  background-color: #282828;
}
.gruvbox-dark .gd {
  color: #fb4934;
  background-color: #282828;
}
.gruvbox-dark .gh {
  color: #b8bb26;
  font-weight: bold;
}
.gruvbox-dark .k, .gruvbox-dark .kn, .gruvbox-dark .kp, .gruvbox-dark .kr, .gruvbox-dark .kv {
  color: #fb4934;
}
.gruvbox-dark .kc {
  color: #d3869b;
}
.gruvbox-dark .kt {
  color: #fabd2f;
}
.gruvbox-dark .kd {
  color: #fe8019;
}
.gruvbox-dark .s, .gruvbox-dark .sa, .gruvbox-dark .sb, .gruvbox-dark .sc, .gruvbox-dark .dl, .gruvbox-dark .sd, .gruvbox-dark .s2, .gruvbox-dark .sh, .gruvbox-dark .sx, .gruvbox-dark .s1 {
  color: #b8bb26;
  font-style: italic;
}
.gruvbox-dark .si {
  color: #b8bb26;
  font-style: italic;
}
.gruvbox-dark .sr {
  color: #b8bb26;
  font-style: italic;
}
.gruvbox-dark .se {
  color: #fe8019;
}
.gruvbox-dark .nn {
  color: #8ec07c;
}
.gruvbox-dark .nc {
  color: #8ec07c;
}
.gruvbox-dark .no {
  color: #d3869b;
}
.gruvbox-dark .na {
  color: #b8bb26;
}
.gruvbox-dark .m, .gruvbox-dark .mb, .gruvbox-dark .mf, .gruvbox-dark .mh, .gruvbox-dark .mi, .gruvbox-dark .il, .gruvbox-dark .mo, .gruvbox-dark .mx {
  color: #d3869b;
}
.gruvbox-dark .ss {
  color: #83a598;
}
