.molokai table td { padding: 5px; }
.molokai table pre { margin: 0; }
.molokai .c, .molokai .ch, .molokai .cd, .molokai .cpf {
  color: #5e5d83;
  font-style: italic;
}
.molokai .cm {
  color: #5e5d83;
  font-style: italic;
}
.molokai .c1 {
  color: #5e5d83;
  font-style: italic;
}
.molokai .cp {
  color: #465457;
  font-weight: bold;
}
.molokai .cs {
  color: #465457;
  font-weight: bold;
  font-style: italic;
}
.molokai .err {
  color: #f8f8f2;
  background-color: #403d3d;
}
.molokai .gi {
  color: #a6e22e;
}
.molokai .gd {
  color: #f92672;
}
.molokai .ge {
  color: #1b1d1e;
  font-style: italic;
}
.molokai .gr {
  color: #f92672;
}
.molokai .gt {
  color: #f92672;
}
.molokai .gh {
  color: #403d3d;
}
.molokai .go {
  color: #403d3d;
}
.molokai .gp {
  color: #66d9ef;
}
.molokai .gs {
  font-weight: bold;
}
.molokai .gu {
  color: #465457;
}
.molokai .k, .molokai .kv {
  color: #66d9ef;
  font-weight: bold;
}
.molokai .kc {
  color: #66d9ef;
  font-weight: bold;
}
.molokai .kd {
  color: #66d9ef;
  font-weight: bold;
}
.molokai .kp {
  color: #66d9ef;
  font-weight: bold;
}
.molokai .kr {
  color: #66d9ef;
  font-weight: bold;
}
.molokai .kt {
  color: #66d9ef;
  font-weight: bold;
}
.molokai .kn {
  color: #f92672;
  font-weight: bold;
}
.molokai .ow {
  color: #f92672;
  font-weight: bold;
}
.molokai .o {
  color: #f92672;
  font-weight: bold;
}
.molokai .mf {
  color: #af87ff;
}
.molokai .mh {
  color: #af87ff;
}
.molokai .il {
  color: #af87ff;
}
.molokai .mi {
  color: #af87ff;
}
.molokai .mo {
  color: #af87ff;
}
.molokai .m, .molokai .mb, .molokai .mx {
  color: #af87ff;
}
.molokai .se {
  color: #af87ff;
}
.molokai .sb {
  color: #d7d787;
}
.molokai .sc {
  color: #d7d787;
}
.molokai .sd {
  color: #d7d787;
}
.molokai .s2 {
  color: #d7d787;
}
.molokai .sh {
  color: #d7d787;
}
.molokai .si {
  color: #d7d787;
}
.molokai .sx {
  color: #d7d787;
}
.molokai .sr {
  color: #d7d787;
}
.molokai .s1 {
  color: #d7d787;
}
.molokai .ss {
  color: #d7d787;
}
.molokai .s, .molokai .sa, .molokai .dl {
  color: #d7d787;
}
.molokai .na {
  color: #a6e22e;
}
.molokai .nc {
  color: #a6e22e;
  font-weight: bold;
}
.molokai .nd {
  color: #a6e22e;
  font-weight: bold;
}
.molokai .ne {
  color: #a6e22e;
  font-weight: bold;
}
.molokai .nf, .molokai .fm {
  color: #a6e22e;
  font-weight: bold;
}
.molokai .no {
  color: #66d9ef;
}
.molokai .bp {
  color: #f8f8f2;
}
.molokai .nb {
  color: #f8f8f2;
}
.molokai .ni {
  color: #f8f8f2;
}
.molokai .nn {
  color: #f8f8f2;
}
.molokai .vc {
  color: #f8f8f2;
}
.molokai .vg {
  color: #f8f8f2;
}
.molokai .vi {
  color: #f8f8f2;
}
.molokai .nv, .molokai .vm {
  color: #f8f8f2;
}
.molokai .w {
  color: #f8f8f2;
}
.molokai .nl {
  color: #f8f8f2;
  font-weight: bold;
}
.molokai .nt {
  color: #f92672;
}
.molokai {
  color: #f8f8f2;
  background-color: #1b1d1e;
}
