.pastie table td { padding: 5px; }
.pastie table pre { margin: 0; }
.pastie .c, .pastie .ch, .pastie .cd, .pastie .cm, .pastie .cpf, .pastie .c1 {
  color: #888888;
}
.pastie .cp {
  color: #cc0000;
  font-weight: bold;
}
.pastie .cs {
  color: #cc0000;
  background-color: #fff0f0;
  font-weight: bold;
}
.pastie .err {
  color: #a61717;
  background-color: #e3d2d2;
}
.pastie .gr {
  color: #aa0000;
}
.pastie .gh {
  color: #333333;
}
.pastie .gu {
  color: #666666;
}
.pastie .gd {
  color: #000000;
  background-color: #ffdddd;
}
.pastie .gi {
  color: #000000;
  background-color: #ddffdd;
}
.pastie .ge {
  font-style: italic;
}
.pastie .gs {
  font-weight: bold;
}
.pastie .gl {
  color: #888888;
}
.pastie .go {
  color: #888888;
}
.pastie .gp {
  color: #555555;
}
.pastie .gt {
  color: #aa0000;
}
.pastie .k, .pastie .kc, .pastie .kd, .pastie .kn, .pastie .kr, .pastie .kv {
  color: #008800;
  font-weight: bold;
}
.pastie .kp {
  color: #008800;
}
.pastie .kt {
  color: #888888;
  font-weight: bold;
}
.pastie .m, .pastie .mb, .pastie .mf, .pastie .mh, .pastie .mi, .pastie .il, .pastie .mo, .pastie .mx {
  color: #0000dd;
  font-weight: bold;
}
.pastie .s, .pastie .sa, .pastie .sb, .pastie .sc, .pastie .dl, .pastie .sd, .pastie .s2, .pastie .sh, .pastie .s1 {
  color: #dd2200;
  background-color: #fff0f0;
}
.pastie .se {
  color: #0044dd;
  background-color: #fff0f0;
}
.pastie .si {
  color: #3333bb;
  background-color: #fff0f0;
}
.pastie .sx {
  color: #22bb22;
  background-color: #f0fff0;
}
.pastie .sr {
  color: #008800;
}
.pastie .ss {
  color: #aa6600;
  background-color: #fff0f0;
}
.pastie .na {
  color: #336699;
}
.pastie .nb, .pastie .bp {
  color: #003388;
}
.pastie .nc {
  color: #bb0066;
  font-weight: bold;
}
.pastie .no {
  color: #003366;
  font-weight: bold;
}
.pastie .nd {
  color: #555555;
}
.pastie .ne {
  color: #bb0066;
  font-weight: bold;
}
.pastie .nf, .pastie .fm {
  color: #0066bb;
  font-weight: bold;
}
.pastie .nl {
  color: #336699;
}
.pastie .nn {
  color: #bb0066;
  font-weight: bold;
}
.pastie .py {
  color: #336699;
  font-weight: bold;
}
.pastie .nt {
  color: #bb0066;
  font-weight: bold;
}
.pastie .nv, .pastie .vc, .pastie .vm {
  color: #336699;
}
.pastie .vg {
  color: #dd7700;
}
.pastie .vi {
  color: #3333bb;
}
.pastie .ow {
  color: #008800;
}
.pastie .w {
  color: #bbbbbb;
}
