---
---

{% for t in site.data.rouge %}
@import rouge/{{ t.theme }}
{% endfor %}
{% for t in site.data.pygments %}
@import pygments/{{ t.theme }}
{% endfor %}

body
  > div
    padding: 1rem
  > aside
    position: fixed
    top: 0
    right: 0
    background: White
    font-size: smaller
figure
  margin: 0