---
---

{% for t in site.data.rouge %}
@import rouge/{{ t.theme }}
{% endfor %}
{% for t in site.data.pygments %}
@import pygments/{{ t.theme }}
{% endfor %}

body
  padding-left: 1rem
  > div
    padding: 1rem
    display: inline-block
  > aside
    position: fixed
    top: 0
    right: 0
    font-size: smaller

//
// Small screens
// --------------------------------------
@media (max-width: 60rem)
  body > aside
    position: initial

figure
  margin: 0